.stock-listing{
  border: solid 1pt rgba(0,0,0,0.1);
  background-color: whitesmoke;
}

.stock-company-name{
  border-radius: 5px;
  border-bottom: 0;
}

.stock-whole-container{
  border: solid 1pt rgba(0,0,0,0.1);

}